alabaster==0.7.13
amqp==5.3.1
appdirs==1.4.4
argh==0.26.2
asgiref==3.6.0
astor==0.8.1
async-timeout==5.0.1
attrs==22.2.0
autopep8==2.1.0
Babel==2.11.0
bandit==1.7.4
billiard==4.2.1
Brotli==1.1.0
cachetools==5.3.0
celery==5.5.2
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
coreapi==2.3.3
coreschema==0.0.4
coverage==7.2.1
cryptography==39.0.1
darglint==1.8.1
defusedxml==0.7.1
distlib==0.3.6
dj-database-url==2.1.0
Django==3.2
django-admin-honeypot==1.1.0
django-appconf==1.0.5
django-autoslug==1.9.8
django-axes==5.40.1
django-celery-email==3.0.0
django-ckeditor==6.5.1
django-clearcache==1.2.1
django-cors-headers==3.13.0
django-countries==7.2.1
django-crontab==0.7.1
django-csp==3.7
django-filter==22.1
django-http-referrer-policy==1.1.1
django-ipware==4.0.2
django-js-asset==2.0.0
django-phonenumber-field==5.2.0
django-storages==1.13.2
django-templated-mail==1.1.1
django-watermark==0.2.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.2
docutils==0.18.1
drf-spectacular==0.27.2
drf-yasg==1.21.5
eradicate==2.1.0
exceptiongroup==1.1.0
factory-boy==3.2.1
Faker==8.9.1
filelock==3.9.0
filetype==1.2.0
flake8==5.0.4
flake8-bandit==4.1.1
flake8-broken-line==0.6.0
flake8-bugbear==23.2.13
flake8-commas==2.1.0
flake8-comprehensions==3.10.1
flake8-debugger==4.1.2
flake8-docstrings==1.7.0
flake8-eradicate==1.4.0
flake8-isort==6.0.0
flake8-polyfill==1.0.2
flake8-quotes==3.3.2
flake8-rst-docstrings==0.3.0
flake8-string-format==0.3.0
flower==2.0.1
ghp-import==2.1.0
gitdb==4.0.10
GitPython==3.1.31
gunicorn==22.0.0
h11==0.14.0
humanize==4.9.0
idna==3.4
imagesize==1.4.1
inflection==0.5.1
iniconfig==2.0.0
isort==5.12.0
itypes==1.2.0
Jinja2==3.1.2
jsonschema==4.17.3
jsonschema-specifications==2023.12.1
kavenegar==1.1.2
kombu==5.5.3
MarkupSafe==2.1.2
mccabe==0.7.0
mergedeep==1.3.4
mypy-extensions==1.0.0
oauthlib==3.2.2
openapi-codec==1.3.2
packaging==23.0
pathspec==0.11.0
pbr==5.11.1
pep8-naming==0.13.3
phonenumbers==8.12.33
Pillow==9.4.0
platformdirs==3.0.0
pluggy==1.0.0
prometheus-client==0.8.0
prompt_toolkit==3.0.51
psycopg2-binary==2.9.9
pycodestyle==2.9.1
pycparser==2.21
pycryptodome==3.17
pydocstyle==6.3.0
pyflakes==2.5.0
Pygments==2.14.0
PyJWT==1.7.1
PyMySQL==1.0.3
pyproject_api==1.5.0
pyrsistent==0.19.3
pyshorteners==1.0.1
pytest==7.2.2
pytest-cov==2.12.1
pytest-django==4.4.0
pytest-factoryboy==2.1.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python3-openid==3.2.0
pytz==2022.7.1
PyYAML==6.0
pyyaml_env_tag==0.1
redis==4.6.0
referencing==0.35.1
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
restructuredtext-lint==1.4.0
rpds-py==0.18.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
simplejson==3.18.3
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
social-auth-app-django==4.0.0
social-auth-core==4.3.0
Sphinx==6.1.3
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.3
stevedore==5.0.0
swagger-spec-validator==3.0.3
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tornado==6.4
tox==4.4.6
typing_extensions==4.5.0
tzdata==2025.2
uritemplate==4.1.1
urllib3==1.26.14
uvicorn==0.29.0
vine==5.1.0
virtualenv==20.19.0
watchdog==2.2.1
wcwidth==0.2.13
whitenoise==6.3.0
